{% extends 'legaltech/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      {% if user.is_authenticated %}
    Hola {{ user.username }}!
    
    <a href="{% url 'logout' %}">Cerrar Sesion</a>
  {% else %}
    <p>No has iniciado sesion</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="">Registro</a>
  {% endif %}
    </div>
    <div class="col-sm">
      {{demanda}}
    </div>
   
  </div>
</div>
{% endblock %}