{% extends 'legaltech/base.html' %}

{% block content %}
  {{casos}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID Caso</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    {% for c in casos %}
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{casos.id_caso}}</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
    </tbody>
    {% endfor %}
    
  </table>
{% endblock %}