{% extends 'legaltech/base.html' %}

{% block content %}
  <div class='container'>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID Caso</th>
        <th scope="col">Accion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    {% for c in casos %}
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{c.id_caso}}</td>
        <td><a href="{% url 'modificar' c.id_caso%}" class="btn btn-warning">Editar</a></td>
        <td><a href="{% url 'eliminarconf' c.id_caso %}" class="btn btn-danger">Eliminar</a></td>
      </tr>
    </tbody>
    {% endfor %}
    
  </table>
</div>
{% endblock %}